@{
    ViewData["Title"] = "Home";
}


<section class="ftco-section">
    @*-- Need to figure out how to constuct this section to either have the image on the left with welcome text on right
    /completed-ish **-- need to now fix the images to look correct in place --**

    ***might need extra review on the steps to implement the img converter to update the DB with the right images

    ****Need to configure session and implement it in program.cs and add shopping cart funtionality

    **Need to style Views: Products (Index, TiledProducts, Details, Create, Edit, and Delete)--take precedence

    ** Review Ajax(possibly just a using statement or something)
    *@
    <div class="row">
        <div class="col-4">
            <img src="~/images/bg-candle2.jpg" class="img-fluid" align="center" alt="">
        </div>
        <div class="col-4">
            <img src="~/images/candlebackground.jpg" class="img-fluid" align="center" alt="">
        </div>
        <div class="col-4">
            <img src="~/images/bg-candle3.jpg" class="img-fluid" align="center" alt="">
        </div>
        <div class="row">
            <div class="col">
                <p class="px-5 text-center m-5">
                    Welcome to Candle Cove, your ultimate destination for exquisite candles that ignite your senses and illuminate your spaces. Step into a world of enchanting fragrances, captivating designs, and unparalleled craftsmanship. Immerse yourself in the warm glow and soothing scents that transform any environment into a haven of tranquility and serenity. From the flickering flame that dances with elegance to the carefully curated aromas that evoke blissful memories, our collection of candles is thoughtfully handcrafted to elevate your everyday moments. Whether you seek a cozy ambiance for a relaxing evening or a delightful gift to brighten someone's day, Candle Cove is here to accompany you on your candle journey. Experience the artistry and magic of candles that transcend the ordinary and create an extraordinary atmosphere. We invite you to explore our captivating selection and embark on a sensory adventure that will illuminate your soul. Welcome to Candle Cove, where light meets inspiration.
                </p>
            </div>
        </div>
    </div>
</section>


<section class="ftco-section ftco-deal bg-info mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="~/images/vanilla.jpg" class="img-fluid" alt="vanilla candle">
            </div>
            <div class="col-md-6">
                <div class="heading-section heading-section-white">
                    <span class="subheading">Check this out!</span>
                    <h2 class="mb-3">Best Seller:</h2>
                </div>
                <div class="text-deal">
                    <h2><a asp-action="Details" asp-route-id="">Vannila Delight</a></h2>
                    <p class="price"></p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-gallery">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 heading-section text-center mb-4 ftco-animate">
                <h2 class="mb-4">Thanks for choosing Candle Cove!</h2>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in</p>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-no-pt ftco-no-pb">
    <div class="container">
        <div class="row no-gutters ftco-services">
            <div class="col-lg-4 text-center d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services p-4 py-md-5">
                    <div class="icon d-flex justify-content-center align-items-center mb-4">
                        <span class="flaticon-bag"></span>
                    </div>
                    <div class="media-body">
                        <h3 class="heading">Free Shipping</h3>
                        <p>
                            Experience the joy of free shipping on every order at Candle Cove. Shop with ease and let us deliver the enchantment of our exquisite candles to your door, no extra cost required.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 text-center d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services p-4 py-md-5">
                    <div class="icon d-flex justify-content-center align-items-center mb-4">
                        <span class="flaticon-customer-service"></span>
                    </div>
                    <div class="media-body">
                        <h3 class="heading">Support Customer</h3>
                        <p>Our dedicated customer support team at Candle Cove is here to assist you every step of the way. From product inquiries to order assistance, we are committed to providing prompt and personalized support to ensure your complete satisfaction. Please fill out the contact form for any assistance.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 text-center d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services p-4 py-md-5">
                    <div class="icon d-flex justify-content-center align-items-center mb-4">
                        <span class="flaticon-payment-security"></span>
                    </div>
                    <div class="media-body">
                        <h3 class="heading">Secure Payments</h3>
                        <p>Shop with confidence at Candle Cove knowing that we prioritize your security. We employ industry-leading encryption technology to safeguard your payment information, ensuring a safe and secure shopping experience.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>